################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiAziendaLogin
/obj
/.vs/ProjectEvaluation
/bin/Debug/net8.0
/Logs
